@reference '../../../globals.css';

.hero {
  height: 100vh;
  position: relative;
}

.bgImage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.content {
  @apply w-full h-full absolute px-5 top-0 left-0 flex z-[100] items-center justify-center
    lg:block lg:w-[50%] lg:h-auto lg:top-[50%] lg:left-[10%] lg:right-0 lg:translate-y-[-50%];
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  font-family: var(--font-anton), var(--font-montserrat);
  letter-spacing: 10px;
  @apply text-4xl leading-[1.2] lg:leading-[1.3] lg:text-[120px] font-extrabold mb-8;
}

.contentData {
  display: block;
}

.word-1 {
  @apply text-neutral-200 inline-block;
}

.word-2 {
  @apply text-primary inline-block;
}

.description {
  @apply text-lg leading-7 font-light text-pretty mb-12
  lg:text-2xl lg:leading-8 tracking-wider lg:font-semibold;
  font-family: var(--font-open-sans);
}

.actions {
  @apply flex justify-start;
}

.cta {
  @apply bg-secondary/70 text-center w-full lg:w-[250px] py-4 rounded-full font-semibold
    hover:bg-primary/80 hover:text-foreground/80 text-foreground
    transition-colors duration-300 ease-in-out border-primary/70 border-2;
}